* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: sans-serif;
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items:center;
  color:#10214e;
  position: relative;
}

article:nth-of-type(1) {
  width:50vw;
  height: 75vh;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(../assets/stock-background.jpg);
  background-position: center;
  background-size: cover;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
  z-index: 3;
  transform: rotate(-15deg);
  animation: rotation 0.5s linear 0s normal;

}
article:nth-of-type(2) {
  width:50vw;
  height: 75vh;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(../assets/stock-background.jpg);
  background-position: center;
  background-size: cover;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  z-index: 2;
  animation: flip 0.5s linear 0s normal;
  position: absolute;
  left: 35%;
  transform: rotate(-5deg);
  
}
article:nth-of-type(3) {
  width:50vw;
  height: 75vh;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(../assets/stock-background.jpg);
  background-position: center;
  background-size: cover;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
  z-index: 1;
  position: absolute;
  left: 45%;
  transform: rotate(5deg);
  
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}

h1 {
  margin:2rem 0 1rem;
  color: rgba(0,239,255,1);
  

}

button {
  border:none;
  position: absolute;
  right:1rem;
  top:1rem;
  width:2.5rem;
  height:2.5rem;
  transform: scale(.8);
  background: rgba(0,239,255,1);
  border-radius:50%;
  padding:.25rem;
  transition:.25s;
}
button:focus {
  outline:none;
  background:#202592;
}
button:focus svg {
  stroke: rgba(0,239,255,1);
}

svg {
  stroke: #4e54c8;
  position: absolute;
  top:calc(1.25rem - 12px);
  left:calc(1.25rem - 12px);
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity:0;
  transition-delay: 0ms;
}

img {
  /*width:10em;
  border-radius:10em;
  border:5px solid #fff;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:relative;
  top:2rem;
  transition:.25s .15s;*/
}

dl {
  width:100%;
 
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -3rem;
  margin-bottom: 0;
  text-align: center;
}

dt{
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}
dt:nth-of-type(1){ grid-area: html-dt; }
dt:nth-of-type(2){ grid-area: css-dt; transform: translateY(1rem);}
dt:nth-of-type(3){ grid-area: js-dt; }

dd {
  margin:0;
  padding-left:.3rem;
  transition:.25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

p { 
  margin:0;
  color: white;
}

article > p {
  padding:3rem 2rem;
  margin-top: 0;
 
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}


@keyframes flip {
  from{
    translate: rotate(0deg);
    left: 0;
  }
  to{
    translate: rotate(-5deg);
    left: 35%;
  }
  
}

@keyframes rotation {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(-15deg);
  }
}