* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: sans-serif;
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items:center;
  color:#10214e;
  position: relative;
}

#cardContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}

h1 {
  margin:2rem 0 1rem;
  color: rgba(0,239,255,1);
  font-size: 2.5em;
  font-style: italic;

}

header > p { 
  margin:0;
  color: white;
  padding:0 4em 0 4em;
}

#animationFront {
  height: 75vh;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(../assets/stock-background.jpg); /* Photo by Philippe Donn: https://www.pexels.com/photo/stars-1257860/ */
  background-position: center;
  background-size: cover;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  transition:.25s;
  z-index: 4;
  
}

#frontBackside{
  height: 75vh;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(../assets/stock-background.jpg); /* Photo by Philippe Donn: https://www.pexels.com/photo/stars-1257860/ */
  background-position: center;
  background-size: cover;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  transition: 2s;
  z-index: 3;
  position: absolute;
  color: red;
  opacity: 0;
}

/* .backSide {
  height: 75vh;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(../assets/stock-background.jpg); */ /* Photo by Philippe Donn: https://www.pexels.com/photo/stars-1257860/ */
/*   background-position: center;
  background-size: cover;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  transition:.25s;
  z-index: 3;
  filter: brightness(100%);

} */

.frontTransformation{
  animation-name: rotation;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}

.frontTransformationBack{
  animation-name: rotationB;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


#animationMiddle {
  height: 75vh;
  max-width: 25em;
  min-width: 20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(../assets/stock-background.jpg);
  background-position: center;
  background-size: cover;
  box-shadow:-10px 0 20px 20px rgba(97, 97, 97, 0.555) inset;
  border-radius:1rem;
  z-index: 2;
  position: absolute;
  right: -10%;
}

.middleTransformation{
  animation-name: flip;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.middleTransformationBack{
  animation-name: flipB;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#animationRight {
  height: 75vh;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: url(../assets/stock-background.jpg);
  background-position: center;
  background-size: cover;
  box-shadow:-10px 0 20px 20px rgba(77, 76, 76, 0.658) inset;
  border-radius:1rem;
  transition:.25s;
  z-index: 1;
  position: absolute;
  right: -18%;
}

.rightTransformation{
  animation-name: rotater;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.rightTransformationBack{
  animation-name: rotaterB;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


button {
  border:none;
  position: absolute;
  right: 40%;
  top: 60%;
  width:2.5rem;
  height:2.5rem;
  transform: scale(4);
  background: none;
  border-radius:50%;
  padding:.25rem;
  transition:.25s;
}
button:hover svg{
  transform: rotate(-180deg);
  transition: .5s;
}

svg {
  fill: rgba(128, 116, 128, 0.671);
  position: absolute;
  opacity: 0;
  top: 18%;
  left: 18%;
  width: 2em;
  transition-delay: .25s;
  animation-name: buttonAppear, buttonGlow;
  animation-duration: 4s, 4s;
  animation-delay: 1.5s, 5.5s;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
  animation-timing-function: ease-in, ease-in-out;
  animation-fill-mode: forwards;
  
}
button svg:nth-of-type(2) {
  opacity:0;
  transition-delay: 0ms;
} 

#openButton{
  padding: 40vh 3em;
  position: absolute;
  z-index: 4;
  right: -20%;
}

.frontTransformationFlip{
  animation-name: flipper;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.frontTransformationFlipB{
  animation-name: flipperB;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes rotation {
  from{
    transform: rotate(0);

  }
  to{
    transform: rotate(-15deg) translateX(-2em);
  }
}

@keyframes rotationB {
  from{
    transform: rotate(-15deg) translateX(-2em);

  }
  to{
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes flip {
  from{
  }
  to{
    transform: translateY(-2em);
  }
  
}

@keyframes flipB {
  from{
    transform: translateY(-2em);

  }
  to{
    transform: translateY(0);
  }
  
}

@keyframes rotater {
  from{

  }
  to{
    transform: rotate(15deg) translateX(2em) translateY(-3em);
  }
}

@keyframes rotaterB {
  from{
    transform: rotate(15deg) translateX(2em) translateY(-3em);

  }
  to{
    transform: rotate(0) translateX(0) translateY(0);

  }
}

@keyframes flipper {
  0%{
    transform: rotateY(0) scale(1);
  }
  25%{
    transform: rotateY(90deg) scale(1.1);
    filter: brightness(0.75);
  }
  50%{
    transform: rotateY(180deg) scale(1.25);
    filter: brightness(0.5);
  }
  75%{
    transform: rotateY(270deg);
    filter: brightness(0);
  }
  100%{
    transform: rotateY(360deg) scale(1);
    filter: brightness(0);
    opacity: 0;
  }
  
}


@keyframes flipperB {
  0%{
    transform: rotateY(360deg) scale(1);
    filter: brightness(0);
  }
  25%{
    transform: rotateY(270deg);
    filter: brightness(0);
  }
  50%{
    transform: rotateY(180deg) scale(1.25);
    filter: brightness(0.5);
  }
  75%{
    transform: rotateY(90deg) scale(1.1);
    filter: brightness(0.75);
  }
  100%{
    transform: rotateY(0) scale(1);
  }
  
}

@keyframes buttonAppear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes buttonGlow {
  0%{
    filter: drop-shadow(0px 0px 10px   rgba(255, 255, 255, 0))
    drop-shadow(0px 0px 20px rgb(255 0 255 / 0))
    drop-shadow(0px 0px 30px  rgb(0 255 255 / 0));
  }
  50%{
    filter: drop-shadow(0px 0px 10px   rgb(255 255 255 / 1))
    drop-shadow(0px 0px 20px rgb(255 0 255 / 1))
    drop-shadow(0px 0px 30px  rgb(0 255 255 / 1));
  }
  100%{
    filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 0))
    drop-shadow(0px 0px 20px rgb(255 0 255 / 0))
    drop-shadow(0px 0px 30px  rgb(0 255 255 / 0));
  }
} 